{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/joinstyle.css' %}">
    <title>CLUBHUB | Join </title>
</head>

<body>
    <div class="container">
        <div class="title">
            <h1> JOIN</h1>
        </div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details"> Club Name</span>
                    <input type="text" placeholder="Enter Your Full Name" required>
                </div>

                <div class="input-box">
                    <span class="details">Club description</span>
                    <input type="text" placeholder="Enter Your club description" required>
                </div>

                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter  Email Address" required>
                </div>
                <div class="input-box">
                    <span class="details">Contact Number</span>
                    <input type="tel" placeholder="Enter  Contact Number" required>
                </div>
                <div class="input-box">
                    <span class="details">Mission </span>
                    <input type="text" placeholder="Enter Your club's Mission" required>
                </div>
                
                <div class="input-box">
                    <span class="details">Club category</span>
                    <input type="number" placeholder="Enter Your Club category" required>
                </div>
                <div class="input-box">
                    <span class="details">Preffered meeting format</span>
                    <input type="number" placeholder="meeting format" required>
                </div>
                <div class="input-box">
                    <span class="details">Collaboration interest</span>
                    <input type="text" placeholder="enter your interest" required>
                </div>

                <div class="input-box">
                    <span class="details">Preffered mode of support</span>
                    <input type="text" placeholder="documentation/ live training sessions" required>
                </div>

                <div class="input-box">
                    <span class="details">Why you want to Join this Club-website ?</span>
                    <input type="text" placeholder="Your Response" required>
                </div>

                <div class="input-box">
                    <span class="details">How did you hear about us? </span>
                    <input type="text" placeholder="Referral/social media/website/ event" required>
                </div>

                <div class="input-box">
                    <span class="details">Did you joined this type of website before?</span>
                    <input type="email" placeholder="experience" required>
                </div>
                <div class="input-box">
                    <span class="details">Enter your social media link </span>
                    <input type="text" placeholder="Enter Your social media link" required>
                </div>
                <div class="input-box">
                    <span class="details">Agreeing to the website's terms and condition </span>
                    <input type="text" placeholder="(Yes / No)" required>
                </div>
            </div>
            <div class="work">
                <input type="radio" name="department" id="w1">
                <input type="radio" name="department" id="w2">
                <input type="radio" name="department" id="w3">
                <input type="radio" name="department" id="w4">
                
                <input type="radio" name="department" id="w6">
                <input type="radio" name="department" id="w7">
                
                <input type="radio" name="department" id="w9">

                <input type="radio" name="department" id="w10">

                <input type="radio" name="department" id="w11">

                <input type="radio" name="department" id="w12">


<!-- _________________________________________________________________________________________ -->

<!-- JOIN CLUB -->

<!-- 
<span class="work-title">In  which club you want to join  ? </span>
<div class="category">
    <label for="w10">
        <span class="dot ten"></span>
        <span class="department">SWO</span>
    </label>
    <label for="w11">
        <span class="dot eleven"></span>
        <span class="department">RADIO CLUB</span>
    </label>
    <label for="w12">
        <span class="dot twelve"></span>
        <span class="department">TREKKING CLUB</span> <br><br>
    </label>
      -->

<!-- _________________________________________________________________________________________________ -->


<span class="work-title">Membership duration </span>
<div class="category">
    <label for="w13">
        <span class="dot thirteen"></span>
        <span class="department">Monthly</span>
    </label>
    <label for="w14">
        <span class="dot fourteen"></span>
        <span class="department">Quaterly</span>
    </label>
    <label for="w15">
        <span class="dot fifteen"></span>
        <span class="department">Annual</span> <br><br>
    </label>
    

<!-- ------------------------------------------------------------ -->

<!-- REGISTER
                <span class="work-title">In which Department you want to Work </span>
                <div class="category">
                    <label for="w1">
                        <span class="dot one"></span>
                        <span class="department">Anchoring</span>
                    </label>
                    <label for="w2">
                        <span class="dot two"></span>
                        <span class="department">Content Writing</span>
                    </label>
                    <label for="w3">
                        <span class="dot three"></span>
                        <span class="department">Event Management and Coordination</span> <br>
                    </label>
                    <label for="w4">
                        <span class="dot four"></span>
                        <span class="department">Graphic Designing and Video Editing</span>
                    </label>
                    
                    <label for="w6">
                        <span class="dot six"></span>
                        <span class="department">Human Resources Management</span>
                    </label>
                    <label for="w7">
                        <span class="dot seven"></span>
                        <span class="department">Public Relations Management</span>
                    </label>
                    
                    <label for="w9">
                        <span class="dot nine"></span>
                        <span class="department">DSA speakers and Coordinators</span>
                    </label>
                </div>
            </div>-->
            <div class="button">
                <input type="submit" value="Register ">
            </div> 
        </form>
    </div>
</body>
</html>